h1 {
    font-family: 'Montserrat', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-image: linear-gradient( rgb(89, 190, 156),white);
}

.whatsapp {
    height: 100px;
    width: 100px;
}

.btn-personalizado {
    background-image:linear-gradient(rgb(89, 190, 156), white);
}

.container-foto {
    height: 300px;
    width: auto;
}

@media (min-width: 320px) {
    .whatsapp {
        height: 50px;
        width: 50px;
    }
}

@media (min-width: 375px) {
    .whatsapp {
        height: 70px;
        width: 70px;
    }
}

@media (min-width: 500px) {
    h1 {
        font-size: 5rem;
    }
}

@media (min-width: 690px) {
    .yogaflower {
        float: left;
    }
}