h1 {
    font-family: 'Montserrat', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-image: linear-gradient( rgb(89, 190, 156),white);
}

.whatsapp {
    height: 100px;
    width: 100px;
}

.btn-personalizado {
    background-image:linear-gradient(rgb(89, 190, 156), white);
}

.borda {
    border: 10px solid rgba(137, 194, 180, 0.411);
    margin-left: 0;
    margin-right: 0;
    padding-bottom:10px;
    border-top: unset;
}
.container-desenho {
    height: 250px;
    width: 250px;
}
.tamanho-desenho {
    object-fit: contain;
    height: 250px;
    width: 250px;
}
@media(min-width: 768px) {
    .borda {
        padding-bottom: 50px;
    }
}
@media(min-width: 1024px) {
    .borda {
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

}
@media (min-width: 320px) {
    .whatsapp {
        height: 50px;
        width: 50px;
    }
}

@media (min-width: 375px) {
    .whatsapp {
        height: 70px;
        width: 70px;
    }
}

.imagem-carrosel {
    object-fit: cover;
    height: 300px;
}
.foto-gravida {
    object-position: 50% 50%;
}
.cor-fundo-cards {
    background-image: linear-gradient(rgba(157, 117, 231, 0.5), white);
}
.container-desenho-perfil {
    height: 187px;
    width: 250px;
}
.tamanho-desenho-marcela {
    object-fit: contain;
    height: 160px;
}
html,body{
    background-color: rgba(160, 224, 208, 0.411);
    height: 100%;
}
.cor-texto-carousel {
    color: rgb(120, 148, 17);
}
.cor-texto-carousel-idosa {
    color: rgb(18, 75, 0);
}
.bg-images {
    background-color: rgba(29, 31, 29, 0.103);
    border-radius: 200px;
}
.margem {
    margin-top: 70px;
}

.background-image {
    background-image: url('../images/imagem-de-fundo.jpg');
    height: 100%;
    background-size: cover;
    background-position: center top;
}
.tamanho-xheader {
    width: 1000px;
}